.sun{
    border-radius: 50%;
    width: 100px;
    background-color: gold;
    line-height: 0%;
    padding: 50px 0;
}
.sky{
    background-color: lightblue;
    width: 100%;
    height: 240px;
}
.grass{
    background-color: green;
    height: 200px;
    width: 100%;
}
.road{
    width: 100%;
    height: 260px;
    background-color: grey;
}
.lines{
    border: 7px dashed yellow;
    height: 0px;
    width: 100%;
    position: absolute;
    bottom: 1%;
}
.img{
    position: absolute;
    
}
img{
    position: absolute;
    width: 74px;
    bottom: 15px;
    animation-name: myannie;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}

@keyframes myannie{
    from{
    left: 0px
    }
    to{
     left: 1500px
    }
}

