a.{
    margin: 7px;
}

.container{
    background-color: white;
}

h1 {
    text-align: center;
}

.hover, .rotate, .translateX, .ThreeD, .skew, .scale, .translateY{
    width: 400px;
    
    padding: 50px 0;
    
    cursor: pointer;
    
    transition-property: color, background-color, transform;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: ease-out;

}

.hover:hover{
    color: rgb(4, 38, 189);
    background-color: rgb(160, 95, 95);
}
.rotate:hover{
    transform: rotate(360deg);
}
.skew:hover{
    color: darkgreen;
    background-color: darkmagenta;
    transform: skew(20deg);
}
.translateX:hover{
    color: darkseagreen;
    background-color: dodgerblue;
    transform: translateX(30px);
}
.translateY:hover{
    color: firebrick;
    background-color: forestgreen;
    transform: translateY(50px);
}
.scale:hover{
    color: greenyellow;
    background-color: hotpink;
    transform: scale(5);
}
.ThreeD:hover{
    color: red;
    background-color: black;
    transform: rotate3d(1, 1, 1, 360deg);
}


